/* about.css */
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.geometric-box{
    position: absolute;
    width: 20px;
    height: 20px;
    background: var(--bg-color);
    rotate: 30deg;
}
.geometric-box::after{
    border: 3px solid var(--main-color);
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    left: -5px;
    top: -5px;
}
.about-box{
    position: absolute;
}
.geometric-box{
    bottom: 5.5rem;
    left: 8.8rem;
}

.about-img {
    position: relative;
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.about-img img {
    width: 50%;
    border-radius: 5%;
    border: .2rem solid var(--main-color);
}

.about-content {
    text-align: center;
    margin: 0 auto;
    padding: 0 1rem;
}

.about-content h3 {
    position: relative;
    display: inline-block;
    font-size: 2.6rem;
    background: linear-gradient(90deg, #8c52ff53, transparent);
}

.about-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.about-description{
    position: relative;
    color: white;
    margin: 0 auto 1.5rem; 
    max-width: 750px; 
    text-align: center; 
}

.about-description::after{
    content: "";
    width: 10px;
    height: 1px;
    background: white;
    position: absolute;
    left: -1.75rem;
    top: 1rem;
}

.btn-box.btns {
    display: inline-block;
    width: 15rem;
}

.btn-box.btns a::before {
    background: var(--second-bg-color);
}
